<script data-main="/js/main" src="/js/require.js"></script>
<div id="javascript-warning">
    This site needs javascript to run
    <script>
        document.getElementById("javascript-warning").style.display = "none";
    </script>
</div>
<div id="header">
    BAU Wheel Of Fortune
</div>
<div id="morning" class="day-part">
    <div class="title"></div>
    <div class="wheel-of-fortune">
    </div>
</div>
<div id="afternoon" class="day-part">
    <div class="title"></div>
    <div class="wheel-of-fortune">

    </div>
</div>
<div id="the-unlucky-one-container">
    <div id="the-unlucky-one">
        <div id="the-unlucky-one-text"></div>
        <button id="the-unlucky-one-close">
            Accept
        </button>
    </div>
    <div id="fill-background"></div>
</div>


