<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add connectionString="Data Source=(localdb)\MSSQLLocalDB;Integrated Security=True;AttachDbFilename=C:\USERS\ADAM STANDARD\DOCUMENTS\VISUAL STUDIO 2015\PROJECTS\STAFFBAUROTASERVICE\BAUROTADAL\BAUROTADATABASE.MDF"
         name="BAURotaDatabase"/>
  </connectionStrings>
  
</configuration>